- @tasks.each do |task|
    %div.task{:task_id => task.id, :importance => task.importance, :urgency => task.urgency, :complete => "#{task.complete}"}
        %span.remove{:task_id => task.id} x
        %input{:type => :checkbox, :task_id => task.id, :checked => task.complete}
        = task.name