// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-image:url(triangles.png);
}

div.splash {
    width: 812px;
    margin:10em auto;
    
    div.sign_in {
        float:right;

        h2 {
            font-size:4em;
            margin:35px 75px 20px;
            padding: 0px;
            color:#444;
        }

        a {
            display:block;
            text-align:center;
        }
    }
    
    h1 {
        color:#efefef;
        font-size:4em;
        line-height:102%;
        margin:1em .25em;

        span {
            border-bottom: 6px solid;
        }
    }
}