.col {
    clear:none;
    float:left;
}

.left_col {
    width:75%;
    height:100%;
    background-image:url(light_checkered_tiles.png);
    position:relative;
    
    .axis {
        margin:1% 2.5% 0 5%;
        height:86%;
        width:90%;
        border-left:4px solid #818181;
        border-bottom:4px solid #818181;
        
        div.task {
            position:absolute;
            background-color:#fff;
            cursor:move;            
        }
        
        div.task[complete=true] {
            display:none
        }
    }
    
    .xaxis, .yaxis {color: #696969}
    
    .yaxis {
        position:absolute;
        top:50%;
        -webkit-transform: rotate(270deg);
        width:5%;
    }
    
    .xaxis {
        position:relative;
        display:block;
        text-align:center;
        width:100%;
        top:1%;
    }
}

.right_col {
    width:25%;
    height:100%;
    box-shadow:inset 0px 0px 20px #A1A1A1;
    background-image:url(diagonal-noise.png);
    overflow-y:scroll;
    
    div.task {
        background-color:#818181;
        color:#fff;
    }
    
    div.task[complete=true] {
        background-color:#bcbcbc;
    }
}

div.task {
    padding:1px 9px 1px 1px;
    margin:5px;
    border-radius:5px;
    font-weight:bold;
    opacity:.9;
    border:1px solid lightgrey;

    input[type=text] {
        width:96%;
/*        border: 1px solid grey;*/
        border-radius: 4px;
        margin:2%;
        padding:4px;
    }
    
    span.remove {
        margin: -2px 0px 0;
        padding:0px 2px 0px;
        font-size:.8em;
        float:right;
        
        position:relative;
        right:-10px;
        
/*        border-radius: 0 4px 0 0;*/
        border-radius: 0 4px 0 4px;
        border:1px solid lightgrey;
        border-left:none;
        border-bottom:none;
        cursor:pointer;
        background-color:#aaa;
    }

    span.remove:hover {
        background-color:lightgrey;
    }
}