<!DOCTYPE html>
<html>
<head>
  <title>Priortz</title>
  <%= stylesheet_link_tag "application", params[:controller] %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
